@model IList<DrDone.Areas.Admin.ViewModels.RoleCheckBox>
<div class="card">
    <div class="card-header">Kullanıcı Rolleri</div>
    <ul class="list-group">
        @for (int i = 0; i < Model.Count; i++)
        {
            <li class="list-group-item">
                @Html.Hidden("Roles[" + i + "].Id", Model[i].Id)
                <label for="Roles_@(i)__IsChecked">
                    @Html.CheckBox("Roles[" + i + "].IsChecked", Model[i].IsChecked)
                    @Model[i].Name
                </label>
            </li>
        }
    </ul>
</div>  