@model DrDone.ViewModels.AuthLogin
<div class="modal" tabindex="-1" role="dialog" id="login">
    <div class="modal-dialog" role="document">
        @using (Html.BeginForm("login", "User", FormMethod.Post, new { @class = "form-type-1" }))
        {
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-type-1" method="post">
                        <div class="text-center mb-5 user-pp">
                            <i class="fas fa-user font-size-100"></i>
                        </div>
                        <div>
                            @Html.ValidationSummary()
                        </div>
                        <div class="form-group">
                            <input type="text" name="Username" class = "form-control" placeholder = "Kullanıcı Adı" autofocus />
                        </div>
                        <div class="form-group">
                            <input type="password" class = "form-control" name="Password" placeholder="Parola" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-block">Giriş Yap</button>
                </div>
            </div>
        }
    </div>
</div>

